
// 
// Node - Config - Checkbox

.jsc-node-type-checkbox,
.jsc-node-type-checkbox-disabled {
	.clearfix();

	.jsc-node-type-checkbox-content {
		float: left;
		margin: 1px 0 0 4px;
	}

	.jsc-node-type-checkbox-title {
		float: left;
		margin-left: @space-default / 2;
	}

}

.jsc-node-type-checkbox-disabled { 
	.disabled();
}
