
// 
// Nodes

.jsc-node,
.jsc-node-disabled {
	@bg: lighten(@base-color, (@color-offset-default * 1));

	padding: (@space-default / 2) (@space-default + 3);
	width: 200px;
	position: absolute;
	background: darken(@bg, (@color-offset-default * 1));
	.text();
	.round-corner-all();
	.noelect();
	.border-all(3px, solid, darken(@bg, (@color-offset-default * 2)));
	.opacity(0.8);

	&.jsc-focus {
		border-color: lighten(@bg, (@color-offset-default * 3));
		.opacity(0.9);

		.jsc-node-titlebar {
			color: lighten(@text-color-default, (@color-offset-default * 2));
		}

	}
	
	.jsc-node-titlebar {
		text-align: center;
		font-size: @text-fontSize-default;
		position: relative;
		margin: 0 -(@space-default / 2) @space-default -(@space-default / 2);

		.jsc-node-remove {
			position: absolute;
			right: 0;
			top: 1px;
			display: none;
			cursor: pointer;
		}

		&:hover {
			
			.jsc-node-remove {
				display: inline-block;
			}

		}
	}

	.jsc-node-content {
		.noelect();
		
		.jsc-node-port-inputs,
		.jsc-node-port-outputs {
			.clearfix();
		}

		.jsc-node-port {
			margin: 0 -13px;
			color: lighten(@text-color-default, (@color-offset-default * 1));
			font-size: @text-fontSize-default;
			position: relative;
			padding: @space-default 0px;

			&:nth-child(odd) {
				background: darken(@bg, 10%);
			}

			> i {
				.layout-default(lighten(@bg, 5%));
				width: 15px;
				height: 15px;
				.border-top();
				.border-bottom(1px, solid, lighten(@bg, (@color-offset-default * 3)));
				cursor: pointer;
				top: 10px;
				position: absolute;
				
				&:hover {
					.layout-default(lighten(@bg, 30%));
				};
			}

			> div {
				margin: 0 20px;
				.clearfix();
			}
			
			&.jsc-node-port-in {
				
				i {
					left: 0;
					.round-corner-right(50%);
				}

			}

			&.jsc-node-port-out {
				
				i {
					right: 0;
					.round-corner-left(50%);
				}

				div {
					text-align: right;
				}
				
			}

		}


	}
	
}

.jsc-node-disabled { 
	.disabled();
}

