
// 
// Node - Config - Button

.jsc-node-button,
.jsc-node-button-disabled {
	width: 100%;
	background: darken(@base-color, 10%);
	padding: 2px @space-default / 2;
	font-size: 1.1rem;
	font-weight: 400;
	.border-all(1px, solid, darken(@base-color, 15%));
	.round-corner-all(@space-default / 2 / 2);
	.layout-default(@base-color);
	.text(darken(@text-color-default, (@color-offset-default * 0)));

	&:hover {
		.layout-default(darken(@base-color, @color-offset-default));
		.text(darken(@text-color-default, (@color-offset-default * 0)));
	}
}

.jsc-node-button-disabled { 
	.disabled();
}
