
// 
// Node Editor

.jsc-nodeeditor,
.jsc-nodeeditor-disabled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	.jsc-nodeeditor-grid {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.jsc-nodeeditor-content {
		background: darken(@base-color, (@color-offset-default * 2)) url(https://wallpaperscraft.com/image/cubes_grid_background_dark_texture_50364_3840x2160.jpg) repeat;
		position: absolute;
		width: 1000px;
		height: 1000px;
		
		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%; 
			height: 100%;

			path {
				stroke: #ffffff;
				stroke-width: 3px;
				fill: none;
			}
		}

	}
	
}

.jsc-nodeeditor-disabled { 
	.disabled();
}

